{% extends 'base.html.twig' %}

{% block body %}
    <h1>User list</h1>

    <a href="{{ path('organization_index') }}" class="btn btn-link">Back to organization list</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Company</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Birthdate</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.organization }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{% if user.birthDate %}{{ user.birthDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
